/* Mixins and Supportive Variables */
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  /* apply a natural box layout model to all elements */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a:link,
a:hover,
a:active,
a:visited {
  white-space: normal;
  background: none;
  text-decoration: none !important; }

a, button, i {
  outline: none !important;
  background: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  behavior: url(pie/PIE.htc); }
  a:hover, button:hover, i:hover {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    behavior: url(pie/PIE.htc); }

html, button, input, select, textarea, p {
  font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  outline: none !important; }

input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

i {
  font-style: normal; }

html {
  overflow-y: scroll; }

body {
  padding: 0;
  margin: 0; }

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.hide {
  display: none; }

.symbol {
  display: inline-block; }
  .symbol.trademark {
    left: -5px;
    top: -4px;
    vertical-align: super;
    position: relative;
    font-size: .7em;
    display: inline; }

.align.right {
  text-align: right; }
.align.left {
  text-align: left; }

.socialLinks .text {
  margin: 0px 0px 10px 0px;
  font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 1.5em; }
.socialLinks a {
  width: auto;
  height: auto;
  font-size: 3em;
  display: inline-block; }
  .socialLinks a.youtube {
    color: #b4111b; }
    .socialLinks a.youtube:hover {
      color: #e31522; }
  .socialLinks a.twitter {
    color: #36abe0; }
    .socialLinks a.twitter:hover {
      color: #62bde7; }
  .socialLinks a.linkedin {
    color: #0078b4; }
    .socialLinks a.linkedin:hover {
      color: #009ae7; }
  .socialLinks a.facebook {
    color: #3660ac; }
    .socialLinks a.facebook:hover {
      color: #4e79c7; }
  .socialLinks a.rss {
    color: #f39127; }
    .socialLinks a.rss:hover {
      color: #f6aa57; }

.logo {
  margin: 15px auto;
  width: auto;
  height: auto;
  display: inline-block; }
  .logo a {
    margin: 0px 0px 0px 0px;
    width: inherit;
    height: inherit;
    display: inline-block; }

.lang {
  width: 18px;
  height: 12px; }
  .lang.en {
    background-color: transparent;
    background-image: url("../img/lang/us.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .lang.fr {
    background-color: transparent;
    background-image: url("../img/lang/fr.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .lang.de {
    background-color: transparent;
    background-image: url("../img/lang/de.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .lang.es {
    background-color: transparent;
    background-image: url("../img/lang/es.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .lang.pt-br {
    background-color: transparent;
    background-image: url("../img/lang/pt.png");
    background-position: top left;
    background-repeat: no-repeat; }

.searchBox {
  width: auto;
  height: auto;
  display: inline-block; }
  .searchBox form {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    behavior: url(pie/PIE.htc); }
  .searchBox input {
    width: 150px;
    margin: 0px;
    padding: 15px 8px 15px 8px;
    color: #7d7d7d;
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: 1em;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .searchBox a, .searchBox button {
    margin: 5px 0px 0px 0px;
    border: none;
    outline: none;
    vertical-align: top;
    color: #7d7d7d;
    position: relative;
    display: inline-block;
    right: 10px;
    z-index: 5; }

.sidebar .bucket {
  min-width: 250px;
  margin: 20px 0px 0px 0px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  behavior: url(pie/PIE.htc);
  border: 1px solid #ebebeb; }
  .sidebar .bucket:nth-child(1) {
    margin-top: 0px; }
  .sidebar .bucket h1 {
    padding: 0px 10px 0px 10px;
    margin: 0px;
    background-color: #ddecf6;
    border-bottom: 1px solid #b4d4e9;
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: 1.5em;
    font-weight: 300;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    behavior: url(pie/PIE.htc); }
  .sidebar .bucket .contents {
    background-color: #f9f9f9; }
    .sidebar .bucket .contents img {
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      behavior: url(pie/PIE.htc); }
    .sidebar .bucket .contents p {
      margin: 10px 0px 10px 0px;
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      color: #6f6f6f; }
    .sidebar .bucket .contents .featured {
      padding: 20px; }
    .sidebar .bucket .contents .socialLinks {
      width: auto;
      height: auto;
      padding: 10px;
      border-bottom: 1px solid #e7e7e7;
      display: inline-block; }
      .sidebar .bucket .contents .socialLinks a {
        width: auto;
        min-width: 42px;
        height: auto;
        font-size: 3em;
        display: inline-block; }
        .sidebar .bucket .contents .socialLinks a i {
          width: auto;
          min-width: 42px;
          height: auto;
          display: inline-block; }
    .sidebar .bucket .contents ul.feedLinks {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .sidebar .bucket .contents ul.feedLinks li + li {
        border-top: 1px solid #e9e9e9; }
      .sidebar .bucket .contents ul.feedLinks li {
        padding: 10px;
        display: block;
        background-color: #ffffff; }
        .sidebar .bucket .contents ul.feedLinks li:last-child {
          -webkit-border-radius: 0px 0px 10px 10px;
          -khtml-border-radius: 0px 0px 10px 10px;
          -moz-border-radius: 0px 0px 10px 10px;
          -ms-border-radius: 0px 0px 10px 10px;
          -o-border-radius: 0px 0px 10px 10px;
          border-radius: 0px 0px 10px 10px;
          behavior: url(pie/PIE.htc); }
        .sidebar .bucket .contents ul.feedLinks li .title {
          font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
        .sidebar .bucket .contents ul.feedLinks li .date {
          font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          color: #6f6f6f; }
        .sidebar .bucket .contents ul.feedLinks li a {
          width: 100%;
          height: auto;
          display: block;
          color: #1966b2; }
          .sidebar .bucket .contents ul.feedLinks li a:hover {
            color: #000000; }
        .sidebar .bucket .contents ul.feedLinks li a.moreButton {
          width: 100%;
          height: 100%;
          border: none;
          font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          text-transform: uppercase;
          display: inline-block;
          color: #000000; }
          .sidebar .bucket .contents ul.feedLinks li a.moreButton:hover {
            color: #666666; }
  .sidebar .bucket .footer {
    padding: 10px; }
    .sidebar .bucket .footer input {
      margin: 0px; }
      .sidebar .bucket .footer input.email {
        padding: 15px 8px 15px 8px; }
  .sidebar .bucket ul.pages {
    margin: 0px;
    width: auto;
    height: auto;
    padding: 0px;
    list-style: none;
    display: inline-block; }
    .sidebar .bucket ul.pages li + li {
      margin-left: 5px; }
    .sidebar .bucket ul.pages li {
      float: left;
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-weight: 300; }
      .sidebar .bucket ul.pages li a {
        width: auto;
        height: auto;
        padding: 10px 15px 10px 15px;
        color: #3b3e43;
        background-color: #f9f9f9;
        border: 1px solid #dfdfdf;
        -webkit-border-radius: 7px;
        -khtml-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
        behavior: url(pie/PIE.htc);
        display: inline-block; }
        .sidebar .bucket ul.pages li a:hover {
          background-color: #e0e0e0; }
      .sidebar .bucket ul.pages li.active a {
        color: #ffffff; }

#dynamic-to-top {
  overflow: hidden;
  width: 40px;
  height: 40px;
  z-index: 90;
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  padding: 0px;
  border: 1px solid #000;
  background: #272727;
  display: inline-block;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  behavior: url(pie/PIE.htc); }
  #dynamic-to-top i {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 3px;
    left: 10px; }
  #dynamic-to-top:hover {
    color: #ffffff;
    background: #525355 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#525355), to(#2a2a2b)) !important;
    background-image: -webkit-linear-gradient(#525355, #2a2a2b) !important;
    background-image: -moz-linear-gradient(center top, #525355 0%, #2a2a2b 100%) !important;
    background-image: -moz-gradient(center top, #525355 0%, #2a2a2b 100%) !important;
    background-image: -o-linear-gradient(top, #525355 0%, #2a2a2b 100%) !important;
    background-image: -ms-linear-gradient(top, #525355 0%, #2a2a2b 100%) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525355', endColorstr='#2a2a2b');";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525355', endColorstr='#2a2a2b');
    zoom: 1 !important; }

a.readMore {
  margin: 20px 0px 0px 62px;
  text-transform: uppercase;
  display: inline-block; }
  a.readMore.blue {
    color: #1966b2; }
    a.readMore.blue:hover {
      color: #000000; }
  a.readMore.red {
    color: #b6121c; }
    a.readMore.red:hover {
      color: #000000; }
  a.readMore.black {
    color: #000000; }
    a.readMore.black:hover {
      color: #666666; }

.btn {
  font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 1em; }
  .btn.blue {
    color: #ffffff;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    background: #1b87c4 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1b87c4), to(#0d4076)) !important;
    background-image: -webkit-linear-gradient(#1b87c4, #0d4076) !important;
    background-image: -moz-linear-gradient(center top, #1b87c4 0%, #0d4076 100%) !important;
    background-image: -moz-gradient(center top, #1b87c4 0%, #0d4076 100%) !important;
    background-image: -o-linear-gradient(top, #1b87c4 0%, #0d4076 100%) !important;
    background-image: -ms-linear-gradient(top, #1b87c4 0%, #0d4076 100%) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#1b87c4', endColorstr='#0d4076');";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#1b87c4', endColorstr='#0d4076');
    zoom: 1 !important;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    behavior: url(pie/PIE.htc);
    text-transform: uppercase;
    border: 1px solid #0d4177; }
    .btn.blue:hover {
      color: #ffffff;
      background: #32a4d1 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#32a4d1), to(#164b91)) !important;
      background-image: -webkit-linear-gradient(#32a4d1, #164b91) !important;
      background-image: -moz-linear-gradient(center top, #32a4d1 0%, #164b91 100%) !important;
      background-image: -moz-gradient(center top, #32a4d1 0%, #164b91 100%) !important;
      background-image: -o-linear-gradient(top, #32a4d1 0%, #164b91 100%) !important;
      background-image: -ms-linear-gradient(top, #32a4d1 0%, #164b91 100%) !important;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#32a4d1', endColorstr='#164b91');";
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#32a4d1', endColorstr='#164b91');
      zoom: 1 !important; }
  .btn.red {
    color: #ffffff;
    border: 1px solid #9d0c13;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    background: #da2d3a !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#da2d3a), to(#9d0c13)) !important;
    background-image: -webkit-linear-gradient(#da2d3a, #9d0c13) !important;
    background-image: -moz-linear-gradient(center top, #da2d3a 0%, #9d0c13 100%) !important;
    background-image: -moz-gradient(center top, #da2d3a 0%, #9d0c13 100%) !important;
    background-image: -o-linear-gradient(top, #da2d3a 0%, #9d0c13 100%) !important;
    background-image: -ms-linear-gradient(top, #da2d3a 0%, #9d0c13 100%) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#da2d3a', endColorstr='#9d0c13');";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#da2d3a', endColorstr='#9d0c13');
    zoom: 1 !important;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    behavior: url(pie/PIE.htc);
    text-transform: uppercase; }
    .btn.red:hover {
      color: #ffffff;
      background: #ea2739 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ea2739), to(#c70912)) !important;
      background-image: -webkit-linear-gradient(#ea2739, #c70912) !important;
      background-image: -moz-linear-gradient(center top, #ea2739 0%, #c70912 100%) !important;
      background-image: -moz-gradient(center top, #ea2739 0%, #c70912 100%) !important;
      background-image: -o-linear-gradient(top, #ea2739 0%, #c70912 100%) !important;
      background-image: -ms-linear-gradient(top, #ea2739 0%, #c70912 100%) !important;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ea2739', endColorstr='#c70912');";
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ea2739', endColorstr='#c70912');
      zoom: 1 !important; }
  .btn.black {
    color: #ffffff;
    border: 1px solid #161616;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    background: #2e3234 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3234), to(#161616)) !important;
    background-image: -webkit-linear-gradient(#2e3234, #161616) !important;
    background-image: -moz-linear-gradient(center top, #2e3234 0%, #161616 100%) !important;
    background-image: -moz-gradient(center top, #2e3234 0%, #161616 100%) !important;
    background-image: -o-linear-gradient(top, #2e3234 0%, #161616 100%) !important;
    background-image: -ms-linear-gradient(top, #2e3234 0%, #161616 100%) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#2e3234', endColorstr='#161616');";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#2e3234', endColorstr='#161616');
    zoom: 1 !important;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    behavior: url(pie/PIE.htc);
    text-transform: uppercase; }
    .btn.black i {
      color: #ffffff;
      background: none; }
    .btn.black:hover {
      color: #ffffff;
      background: #616264 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#616264), to(#333333)) !important;
      background-image: -webkit-linear-gradient(#616264, #333333) !important;
      background-image: -moz-linear-gradient(center top, #616264 0%, #333333 100%) !important;
      background-image: -moz-gradient(center top, #616264 0%, #333333 100%) !important;
      background-image: -o-linear-gradient(top, #616264 0%, #333333 100%) !important;
      background-image: -ms-linear-gradient(top, #616264 0%, #333333 100%) !important;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#616264', endColorstr='#333333');";
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#616264', endColorstr='#333333');
      zoom: 1 !important; }

@font-face {
  font-family: 'SocialIcons';
  src: url("fonts/SocialIcons.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SocialIcons';
  src: url("fonts/SocialIcons.woff") format("woff"), url("fonts/SocialIcons.ttf") format("truetype"), url("fonts/SocialIcons.svg#SocialIcons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data]:before {
  font-family: 'SocialIcons';
  content: attr(data);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-social"] {
*/
.icon-social-facebook, .icon-social-youtube, .icon-social-twitter, .icon-social-rss, .icon-social-linkedin {
  font-family: 'SocialIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-social-facebook:before {
  content: "\e000"; }

.icon-social-youtube:before {
  content: "\e001"; }

.icon-social-twitter:before {
  content: "\e002"; }

.icon-social-rss:before {
  content: "\e003"; }

.icon-social-linkedin:before {
  content: "\e004"; }

@font-face {
  font-family: 'ProximaNovaBlack';
  src: url("fonts/proximanova-black-webfont.eot");
  src: url("fonts/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-black-webfont.woff") format("woff"), url("fonts/proximanova-black-webfont.ttf") format("truetype"), url("fonts/proximanova-black-webfont.svg#proxima_novablack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("fonts/proximanova-bold-webfont.eot");
  src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype"), url("fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url("fonts/proximanova-extrabold-webfont.eot");
  src: url("fonts/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-extrabold-webfont.woff") format("woff"), url("fonts/proximanova-extrabold-webfont.ttf") format("truetype"), url("fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("fonts/proximanova-light-webfont.eot");
  src: url("fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light-webfont.woff") format("woff"), url("fonts/proximanova-light-webfont.ttf") format("truetype"), url("fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("fonts/proximanova-regular-webfont.eot");
  src: url("fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regular-webfont.woff") format("woff"), url("fonts/proximanova-regular-webfont.ttf") format("truetype"), url("fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("fonts/proximanova-semibold-webfont.eot");
  src: url("fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-semibold-webfont.woff") format("woff"), url("fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

header#header {
  width: 100%;
  height: auto;
  display: block; }
  header#header nav#topNav {
    width: 100%;
    height: auto;
    min-height: 92px;
    display: block;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1; }
    header#header nav#topNav .content {
      height: 100%; }
    header#header nav#topNav .menu {
      width: auto;
      height: auto;
      margin: 14px auto;
      padding: 10px 10px 10px 20px;
      background-color: #f9f9f9;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      behavior: url(pie/PIE.htc);
      display: inline-block; }
      header#header nav#topNav .menu .languageSelect {
        width: 90px;
        height: auto;
        padding: 0px;
        display: inline-block; }
        header#header nav#topNav .menu .languageSelect ul {
          margin: 5px auto;
          list-style: none;
          text-align: left; }
          header#header nav#topNav .menu .languageSelect ul li div {
            display: inline-block; }
          header#header nav#topNav .menu .languageSelect ul li a {
            margin: 0px 5px 0px 0px; }
            header#header nav#topNav .menu .languageSelect ul li a p {
              margin: 0px;
              display: inline-block;
              color: #3c3c3c;
              vertical-align: top; }
            header#header nav#topNav .menu .languageSelect ul li a .lang {
              margin: 5px 0px 0px 0px; }
            header#header nav#topNav .menu .languageSelect ul li a i {
              color: #000000; }
            header#header nav#topNav .menu .languageSelect ul li a b {
              margin-left: 0px; }
  header#header nav#subNav {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: #efefef;
    display: block; }
    header#header nav#subNav .content {
      height: 100%; }
    header#header nav#subNav .nav {
      min-height: 40px; }
      header#header nav#subNav .nav li.dropdown {
        min-height: 40px; }
        header#header nav#subNav .nav li.dropdown a.dropdown-toggle:hover {
          color: #000000; }
  header#header #hero {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #161616; }
    header#header #hero .content {
      height: auto;
      position: relative;
      margin: 0px auto;
      padding: 0;
      display: block; }
      header#header #hero .content ul {
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        list-style: none; }
      header#header #hero .content ul.slides {
        height: auto;
        width: auto;
        overflow: hidden; }
        header#header #hero .content ul.slides .heroSlideText {
          height: 100%;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 1.3em;
          padding: 0px;
          line-height: 1.3em;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.15);
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
          top: 0px;
          left: 0px;
          position: absolute;
          display: table-cell;
          vertical-align: middle; }
          header#header #hero .content ul.slides .heroSlideText .content {
            padding: 110px 60px 0px 29px; }
          header#header #hero .content ul.slides .heroSlideText a {
            margin: 10px 0px 0px 0px;
            text-transform: uppercase; }
            header#header #hero .content ul.slides .heroSlideText a.btn {
              padding: 10px 15px 10px 15px; }
          header#header #hero .content ul.slides .heroSlideText .bold {
            font-family: ProximaNovaBold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
          header#header #hero .content ul.slides .heroSlideText .large {
            font-size: 2em; }
          header#header #hero .content ul.slides .heroSlideText .medium {
            font-size: 1.5em; }
          header#header #hero .content ul.slides .heroSlideText .small {
            font-size: 1.1em; }
          header#header #hero .content ul.slides .heroSlideText .extra-small {
            font-size: 0.8em; }
          header#header #hero .content ul.slides .heroSlideText .line2 {
            margin: 10px 0px 0px 0px; }
          header#header #hero .content ul.slides .heroSlideText .line3 {
            margin: 10px 0px 0px 0px; }
          header#header #hero .content ul.slides .heroSlideText .line4 {
            margin: 15px 0px 0px 0px; }
      header#header #hero .content .slideButtons {
        margin: 0px auto;
        width: 100%;
        height: auto;
        display: inline-block;
        position: absolute;
        text-align: center;
        bottom: 20px; }
        header#header #hero .content .slideButtons ul {
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          list-style: none;
          display: inline-block; }
          header#header #hero .content .slideButtons ul li + li {
            margin: 0 0 0 10px; }
          header#header #hero .content .slideButtons ul li.arrow {
            width: auto;
            display: inline-block; }
            header#header #hero .content .slideButtons ul li.arrow a.prevButton, header#header #hero .content .slideButtons ul li.arrow a.nextButton {
              width: auto;
              height: auto;
              display: inline-block;
              color: #ffffff;
              color: rgba(255, 255, 255, 0.5);
              font-size: 20px; }
              header#header #hero .content .slideButtons ul li.arrow a.prevButton:hover, header#header #hero .content .slideButtons ul li.arrow a.nextButton:hover {
                color: #ffffff; }
          header#header #hero .content .slideButtons ul li.circle {
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            z-index: 10; }
            header#header #hero .content .slideButtons ul li.circle a {
              margin: 2px 0 0 0;
              width: 15px;
              height: 15px;
              display: inline-block;
              background-color: #ffffff;
              background-color: rgba(255, 255, 255, 0.5);
              -webkit-border-radius: 50px;
              -khtml-border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              border-radius: 50px;
              behavior: url(pie/PIE.htc);
              cursor: pointer;
              border: 2px solid #ffffff;
              border: 2px solid rgba(255, 255, 255, 0);
              z-index: 10; }
              header#header #hero .content .slideButtons ul li.circle a:hover {
                background-color: #ffffff;
                background-color: rgba(255, 255, 255, 0.9); }
              header#header #hero .content .slideButtons ul li.circle a.active {
                border: 2px solid #ffffff; }
                header#header #hero .content .slideButtons ul li.circle a.active.red {
                  background-color: #b5111c; }
                  header#header #hero .content .slideButtons ul li.circle a.active.red:hover {
                    background-color: #ea2739; }
                header#header #hero .content .slideButtons ul li.circle a.active.blue {
                  background-color: #164b91; }
                  header#header #hero .content .slideButtons ul li.circle a.active.blue:hover {
                    background-color: #1b87c4; }

footer#footer {
  margin: 20px 0px 0px 0px; }
  footer#footer .information {
    background-color: #f9f9f9;
    border-top: 1px solid #f2f0f0;
    border-bottom: 1px solid #f2f0f0; }
    footer#footer .information .content {
      padding: 20px 0px 20px 0px; }
      footer#footer .information .content .socialLinks a {
        width: auto;
        height: auto;
        font-size: 2.5em;
        display: inline-block; }
      footer#footer .information .content .socialShare {
        margin: 10px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px dotted #c6c6c6; }
        footer#footer .information .content .socialShare ul {
          margin: 0px auto;
          padding: 0px;
          list-style: none;
          text-align: center; }
          footer#footer .information .content .socialShare ul li {
            display: inline-block; }
      footer#footer .information .content ul.links {
        width: 100%;
        margin: 8px 0px 0px 0px;
        padding: 0px;
        list-style: none; }
        footer#footer .information .content ul.links li a + a:before {
          margin: 0px 5px 0px 3px;
          border-left: 1px solid #bfbfbf;
          content: ""; }
        footer#footer .information .content ul.links li a {
          color: #6f6f6f;
          font-size: 0.9em;
          font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
          footer#footer .information .content ul.links li a:hover {
            color: #000000; }
      footer#footer .information .content .location {
        height: auto;
        display: inline-block;
        vertical-align: top;
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
        footer#footer .information .content .location h4 {
          font-size: 1.3em; }
        footer#footer .information .content .location p {
          color: #6f6f6f;
          font-size: 1em;
          line-height: 1.4em;
          font-weight: 200; }
      footer#footer .information .content .links {
        width: auto;
        display: inline-block;
        vertical-align: top;
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
        footer#footer .information .content .links h4 {
          font-size: 1em; }
        footer#footer .information .content .links p {
          color: #6f6f6f;
          font-size: 1em;
          line-height: 1.4em;
          font-weight: 200; }
        footer#footer .information .content .links ul {
          margin: 0px;
          list-style: none;
          font-size: .9em; }
          footer#footer .information .content .links ul.sub {
            margin: 0px 0px 0px 20px; }
          footer#footer .information .content .links ul li a {
            color: #6f6f6f; }
            footer#footer .information .content .links ul li a:hover {
              color: #000000; }
      footer#footer .information .content .contactButton {
        margin: 20px 0px 0px 40px;
        text-align: center;
        display: inline-block; }
        footer#footer .information .content .contactButton a {
          padding: 5px 8px 8px 8px;
          background-color: #eeeeee;
          color: #000000;
          -webkit-border-radius: 10px;
          -khtml-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px;
          behavior: url(pie/PIE.htc);
          font-size: 3em;
          display: inline-block; }
          footer#footer .information .content .contactButton a:hover {
            background-color: #d4d4d4; }
        footer#footer .information .content .contactButton p {
          font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          margin: 15px 0px 0px 0px;
          font-size: .9em; }
  footer#footer #map {
    margin: 10px 0px 10px 0px; }
    footer#footer #map .map {
      display: inline-block;
      vertical-align: top; }
    footer#footer #map ul.locations {
      display: inline-block;
      margin: 45px 0px 0px 10px;
      padding: 0px;
      list-style: none;
      vertical-align: top; }
      footer#footer #map ul.locations li + li {
        margin-left: 10px; }
      footer#footer #map ul.locations li {
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-size: 1.2em;
        display: inline-block;
        color: #6f6f6f; }
    footer#footer #map a.contactButton {
      margin: 40px 0px 0px 10px;
      display: inline-block; }
  footer#footer .copyright {
    height: auto;
    min-height: 54px;
    background-color: #3c3c3c; }
    footer#footer .copyright p {
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      margin: 17px 0px 0px 0px;
      color: #bfbfbf; }
    footer#footer .copyright .languageSelect {
      width: 120px;
      padding: 0px 15px 0px 15px;
      display: inline-block;
      background-color: #292929;
      height: auto;
      min-height: 54px; }
      footer#footer .copyright .languageSelect ul {
        margin: 17px 0px 0px 0px;
        list-style: none;
        text-align: left; }
        footer#footer .copyright .languageSelect ul li div {
          display: inline-block; }
        footer#footer .copyright .languageSelect ul li .lang {
          margin: 4px 0px 0px 0px; }
        footer#footer .copyright .languageSelect ul li a p {
          margin: 0px;
          display: inline-block;
          color: #bfbfbf;
          vertical-align: top; }
        footer#footer .copyright .languageSelect ul li a i {
          color: #ffffff; }
        footer#footer .copyright .languageSelect ul li b {
          border-top-color: #ffffff;
          border-bottom-color: #ffffff; }

#wrapper {
  width: 100%;
  height: 100%; }

.standardWidth {
  margin: 0px auto;
  width: 940px; }

.center {
  margin: 0px auto;
  text-align: center; }

main#main #featured {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f2f0f0; }
  main#main #featured .content {
    padding: 20px 0px 20px 0px; }
    main#main #featured .content .image {
      display: inline-block;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      behavior: url(pie/PIE.htc);
      overflow: hidden; }
    main#main #featured .content .featured a {
      display: inline-block; }
    main#main #featured .content .featured h3 {
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-size: 1.5em;
      font-weight: 300; }
      main#main #featured .content .featured h3 a {
        color: #000000;
        line-height: 25px; }
        main#main #featured .content .featured h3 a:hover {
          color: #b6121c; }
    main#main #featured .content .featured p {
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-size: 1em;
      color: #6f6f6f;
      line-height: 1.7em; }
main#main #twitterFeed {
  background-color: #f4f2f2;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 0px 15px 0px; }
  main#main #twitterFeed a .icon {
    color: #36abe0;
    font-size: 2em;
    display: inline-block;
    vertical-align: top; }
    main#main #twitterFeed a .icon:hover {
      color: #62bde7; }
  main#main #twitterFeed a p {
    margin: 4px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    color: #000000; }
    main#main #twitterFeed a p:hover {
      color: #1966b2; }
main#main #news h1 {
  margin: 30px 0px 30px 0px;
  font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 2.5em; }
  main#main #news h1 i {
    color: #f39127;
    font-size: 1em; }
main#main #news .bucket h1 {
  padding: 0px 10px 0px 10px;
  margin: 0px;
  background-color: #ddecf6;
  border-bottom: 1px solid #b4d4e9;
  font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 1.5em;
  -webkit-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  behavior: url(pie/PIE.htc); }
main#main #news ul.newsItems {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  display: table-cell; }
  main#main #news ul.newsItems li + li {
    margin-top: 40px; }
  main#main #news ul.newsItems li {
    width: auto;
    height: auto;
    display: inline-block;
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
    main#main #news ul.newsItems li .dateBox {
      margin: 0px;
      width: 50px;
      height: auto;
      min-height: 60px;
      background-color: #323537;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      behavior: url(pie/PIE.htc);
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }
      main#main #news ul.newsItems li .dateBox .title {
        padding: 2px 0px 0px 0px;
        background-color: #b6121c;
        -webkit-border-radius: 10px 10px 0px 0px;
        -khtml-border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -ms-border-radius: 10px 10px 0px 0px;
        -o-border-radius: 10px 10px 0px 0px;
        border-radius: 10px 10px 0px 0px;
        behavior: url(pie/PIE.htc); }
      main#main #news ul.newsItems li .dateBox .date {
        margin: 9px 0px 0px 0px;
        width: auto;
        height: auto;
        padding: 0px;
        font-size: 2em;
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        display: inline-block; }
    main#main #news ul.newsItems li .textBox {
      margin: 0px;
      padding: 0px 0px 0px 10px;
      width: 85%;
      display: inline-block;
      vertical-align: top; }
      main#main #news ul.newsItems li .textBox h3 {
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: 300; }
      main#main #news ul.newsItems li .textBox p {
        margin: 10px 0px 0px 0px;
        color: #6f6f6f;
        display: inline-block;
        vertical-align: top;
        font-size: 1em; }
      main#main #news ul.newsItems li .textBox a {
        color: #000000; }
        main#main #news ul.newsItems li .textBox a:hover {
          color: #b6121c; }

main#sub section#subTitle {
  background-color: #161616; }
  main#sub section#subTitle .content .title {
    margin: 40px 0px 40px 0px;
    color: #ffffff;
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: 2em;
    background-color: #161616;
    line-height: 35px; }
  main#sub section#subTitle .content .image {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    behavior: url(pie/PIE.htc);
    overflow: hidden;
    margin: 10px 0px 10px 0px; }
main#sub section#breadcrumb {
  background-color: #f4f2f2;
  border-bottom: 1px solid #e7e7e7; }
  main#sub section#breadcrumb .content {
    padding: 20px 0px 13px 0px; }
    main#sub section#breadcrumb .content ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      main#sub section#breadcrumb .content ul li {
        display: inline-block;
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif; }
        main#sub section#breadcrumb .content ul li.divider {
          margin: 0px 5px 0px 5px;
          color: #cccccc; }
    main#sub section#breadcrumb .content a {
      color: #b6121c; }
      main#sub section#breadcrumb .content a:hover {
        color: #000000; }
main#sub section#subContent {
  padding: 25px 0px 0px 0px; }
  main#sub section#subContent .content {
    margin: 0px auto 0px auto; }
    main#sub section#subContent .content .title {
      margin: 0px 0px 20px 0px;
      color: #000000;
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-size: 2em;
      line-height: 35px; }
    main#sub section#subContent .content .bodyText {
      padding: 0px 0px 40px 0px; }
      main#sub section#subContent .content .bodyText p {
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        margin: 25px 0px 0px 0px;
        line-height: 1.7em;
        font-weight: 300; }
        main#sub section#subContent .content .bodyText p:first-child {
          margin: 0px; }
      main#sub section#subContent .content .bodyText a {
        color: #b6121c; }
        main#sub section#subContent .content .bodyText a:hover {
          color: #000000; }
    main#sub section#subContent .content .fbContent {
      margin: 25px 0px 0px 0px;
      height: 50px;
      display: block; }
    main#sub section#subContent .content .sidebar .searchBox {
      margin: 10px; }
