@font-face {
  font-family: 'SocialIcons';
  src:url('fonts/SocialIcons.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SocialIcons';
  src:url('fonts/SocialIcons.woff') format('woff'),
      url('fonts/SocialIcons.ttf') format('truetype'),
      url('fonts/SocialIcons.svg#SocialIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data]:before {
  font-family: 'SocialIcons';
  content: attr(data);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-social"] {
*/
.icon-social-facebook, .icon-social-youtube, .icon-social-twitter, .icon-social-rss, .icon-social-linkedin {
  font-family: 'SocialIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-social-facebook:before {
  content: "\e000";
}
.icon-social-youtube:before {
  content: "\e001";
}
.icon-social-twitter:before {
  content: "\e002";
}
.icon-social-rss:before {
  content: "\e003";
}
.icon-social-linkedin:before {
  content: "\e004";
}


@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('fonts/proximanova-black-webfont.eot');
    src: url('fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-black-webfont.woff') format('woff'),
         url('fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('fonts/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('fonts/proximanova-extrabold-webfont.eot');
    src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
