// Header styles
header#header {
  width: 100%;
  height: auto;
  display: block;

  // Top Navigation styles
  nav#topNav {
    width: 100%;
    height: auto;
    min-height: 92px;
    display: block;
    @include box-shadow(0px 4px 8px 0px rgba(0, 0, 0, .1));
    position: relative;
    z-index: 1;

    // This is the responsive container for the nav content
    .content { height: 100%;}

    // Menu styles
    .menu {
      width: auto;
      height: auto;
      margin: 14px auto;
      padding: 10px 10px 10px 20px;
      background-color: #f9f9f9;
      @include border-radius(10px);
      display: inline-block;

      // Language Selector
      .languageSelect {
        width: 90px;
        height: auto;
        padding: 0px;
        display: inline-block;

        ul {
          margin: 5px auto;
          list-style: none;
          text-align: left;

          li {
            div {
              display: inline-block;
            }

            a {
              margin: 0px 5px 0px 0px;
              p {
                margin: 0px;
                display: inline-block;
                color: #3c3c3c;
                vertical-align: top;
              }

              .lang {
                margin: 5px 0px 0px 0px;
              }

              i {
                color: #000000;
              }

              b {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }

  // Sub navigation styles
  nav#subNav {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: #efefef;
    display: block;

    // This is the responsive container for the nav content
    .content {
      height: 100%;
    }
    .nav {
      min-height: 40px;

      li {
        &.dropdown {
          min-height: 40px;

          a.dropdown-toggle {
            &:hover {
              color: #000000;
            }
          }
        }
      }
    }
  }

  // Hero styles
  #hero {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #161616;

    // This is the responsive container for the nav content
    .content {
      height: auto;
      position: relative;
      margin: 0px auto;
      padding: 0;
      display: block;

      ul {
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        list-style: none;
      }

      ul.slides {
        height: auto;
        width: auto;
        overflow: hidden;

        .heroSlideText {
          height: 100%;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 1.3em;
          padding: 0px;
          line-height: 1.3em;
          color: #ffffff;
          background: rgba(0,0,0,.15);
          text-shadow: 0 -1px 0 rgba(0,0,0,.3);
          top: 0px;
          left: 0px;
          position: absolute;
          display: table-cell;
          vertical-align: middle;

          .content {
            padding: 110px 60px 0px 29px;
          }

          a {
            margin: 10px 0px 0px 0px;
            text-transform: uppercase;

            &.btn {
              padding: 10px 15px 10px 15px;
            }
          }

          .bold {
            font-family: ProximaNovaBold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          }

          .large {
            font-size: 2em;
          }

          .medium {
            font-size: 1.5em;
          }

          .small {
            font-size: 1.1em;
          }

          .extra-small {
            font-size: 0.8em;
          }

          .line1 {

          }
          .line2 {
            margin: 10px 0px 0px 0px;

          }
          .line3 {
            margin: 10px 0px 0px 0px;

          }
          .line4 {
            margin: 15px 0px 0px 0px;
          }
        }
      }

      // Slide Buttons
      .slideButtons {
        margin: 0px auto;
        width: 100%;
        height: auto;
        display: inline-block;
        position: absolute;
        text-align: center;
        bottom: 20px;

        // Circle Buttons
        ul {
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          list-style: none;
          display: inline-block;

          li + li {
            margin: 0 0 0 10px;
          }

          li.arrow {
            width: auto;
            display: inline-block;

            a {
              &.prevButton, &.nextButton {
                width: auto;
                height: auto;
                display: inline-block;
                color: #ffffff;
                color: rgba(255,255,255, 0.5);
                font-size: 20px;

                &:hover {
                  color: #ffffff;
                }
              }
            }
          }

          li.circle {
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            z-index: 10;

            a {
              margin: 2px 0 0 0;
              width: 15px;
              height: 15px;
              display: inline-block;
              background-color: #ffffff;
              background-color: rgba(255,255,255, 0.5);
              @include border-radius(50px);
              cursor: pointer;
              border: 2px solid #ffffff;
              border: 2px solid rgba(255,255,255, 0);
              z-index: 10;

              &:hover {
                background-color: #ffffff;
                background-color: rgba(255,255,255, 0.9);
              }

              &.active {
                border: 2px solid #ffffff;

                &.red {
                  background-color: #b5111c;

                  &:hover {
                    background-color: #ea2739;
                  }
                }

                &.blue {
                  background-color: #164b91;

                  &:hover {
                    background-color: #1b87c4;
                  }
                }
              }
            }
          }
        }
      }



    }
  }
}