@charset "utf-8";

@import "mixins";

@media (max-width: 767px) {
  #header {
    #topNav {
      .content {
        .logo {
          display: block;
          float: none;
          clear: both;
        }

        .menu {
          padding: 5px;
          margin: 0px auto;
          display: block;
          float: none;
          clear: both;
          text-align: center;

          .searchBox {
            input {
              padding: 5px;
            }
          }
        }
      }
    }

    #subNav {
      .content {
        .menu {


          .nav-collapse {
            margin: 5px 0px 0px 0px;

            .nav {

              li {
                &.dropdown {
                  // &:hover {
                  //   > ul.dropdown-menu {
                  //     display: hidden;

                  //   }
                  // }

                  // ul.dropdown-menu {
                  //   margin-top: 0;
                  // }
                }
              }
            }
          }


        }
      }
    }
  }
}