!!!
/[if lt IE 7 ] <html lang="en" class="ie6">
/[if IE 7 ] <html lang="en" class="ie7">
/[if IE 8 ] <html lang="en" class="ie8">
/[if IE 9 ] <html lang="en" class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %title Welcome | Notable Solutions, Inc.
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %link{:href => "favicon.jpg", :rel => "icon", :type => "image/jpeg"}
    %link{:href => "favicon.ico", :rel => "shortcut icon"}

    / For Internet Explorer
    /[if lt IE 9]<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    / vendor CSS
    %link{:href => "css/vendor/normalize.min.css", :rel => "stylesheet"}
    %link{:href => "css/vendor/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/vendor/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "css/vendor/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "css/vendor/chosen.css", :rel => "stylesheet"}

    /[if IE 7]><link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    /[if lte IE 7]><script src="lte-ie7.js"></script>

    / app CSS
    %link{:href => "css/screen.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-overrides.css", :rel => "stylesheet"}
    %link{:href => "css/media-queries.css", :rel => "stylesheet"}

  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    #wrapper
      %header#header
        %nav#topNav
          %section.content.container
            .menu.pull-right
              .languageSelect
                %ul
                  %li.dropdown.active{:language => "english"}
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %p English
                      .lang.en
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"}
                          .lang.en
                          English
                      %li
                        %a{:href => "#"}
                          .lang.fr
                          French
                      %li
                        %a{:href => "#"}
                          .lang.de
                          German
                      %li
                        %a{:href => "#"}
                          .lang.pt-br
                          Portugese
                      %li
                        %a{:href => "#"}
                          .lang.es
                          Spanish
              .searchBox
                %form{:action => "/search/"}
                  %input{:name => "q", :placeholder => "Search", :type => "text"}
                  %button{:name => "sa", :type => "submit"}
                    %i.icon-search

            .logo.pull-left
              %a{:href => '#'}
                %img{:src => 'img/nsi-logo-dark-header.png'}

        %nav#subNav.navbar
          %section.content.container
            .menu
              %button.btn.black.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              .nav-collapse.collapse
                %ul.nav.nav-pills
                  %li.dropdown.active
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Products
                      %b.caret
                    %ul.dropdown-menu
                      %li.dropdown-submenu
                        %a{:href => '#'} NSi AutoStore
                        %ul.dropdown-menu
                          %li.dropdown-submenu
                            %a{:href => '#'} Capture
                            %ul.dropdown-menu
                              %li
                                %a{:href => '#'} Supported Devices
                          %li
                            %a{:href => '#'} Process
                          %li.dropdown-submenu
                            %a{:href => '#'} Route
                            %ul.dropdown-menu
                              %li
                                %a{:href => '#'} Document Management Systems
                              %li
                                %a{:href => '#'} File, Fax and Email Services
                              %li
                                %a{:href => '#'} Groupware & Collaboration
                              %li
                                %a{:href => '#'} Open Connectivity
                      %li
                        %a{:href => "#"} NSi AutoStore for SAP
                      %li
                        %a{:href => "#"} NSi Mobile
                      %li
                        %a{:href => "#"} NSi Autocapture
                      %li
                        %a{:href => "#"} NSi WebCapture
                      %li
                        %a{:href => "#"} NSi Smarticket
                      %li
                        %a{:href => "#"} NSi Quick Capture Pro
                      %li
                        %a{:href => "#"} NSi OpenForms 360
                      %li
                        %a{:href => "#"} NSi Autocapture
                      %li.dropdown-submenu
                        %a{:href => '#'} Output Management
                        %ul.dropdown-menu
                          %li
                            %a{:href => '#'} NSi Output Manager
                          %li
                            %a{:href => '#'} NSi Secure Print
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Industries
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"} Overview
                      %li
                        %a{:href => "#"} Construction
                      %li
                        %a{:href => "#"} Education
                      %li
                        %a{:href => "#"} Financial Services
                      %li.dropdown-submenu
                        %a{:href => '#'} Government
                        %ul.dropdown-menu
                          %li
                            %a{:href => '#'} U.S. Federal Government
                      %li
                        %a{:href => "#"} Human Resources
                      %li
                        %a{:href => "#"} Legal
                      %li
                        %a{:href => "#"} Logistics
                      %li
                        %a{:href => "#"} Healthcare
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Services
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"} Overview
                      %li.dropdown-submenu
                        %a{:href => '#'} Training
                        %ul.dropdown-menu
                          %li
                            %a{:href => '#'} Classroom
                          %li
                            %a{:href => '#'} eLearning

                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Support
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"} Overview
                      %li
                        %a{:href => "#"} Downloads
                      %li
                        %a{:href => "#"} Forums
                      %li
                        %a{:href => "#"} Knowledge Base
                      %li
                        %a{:href => "#"} Notices
                      %li
                        %a{:href => "#"} Preflight Tool
                      %li
                        %a{:href => "#"} Remote Assistance
                      %li
                        %a{:href => "#"} Support Hours
                      %li
                        %a{:href => "#"} Supported Devices

                  %li.dropdown
                    %a{:href => "#"} News

                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      About NSi
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"} Overview
                      %li
                        %a{:href => "#"} Leadership Team
                      %li
                        %a{:href => "#"} Board Members
                      %li
                        %a{:href => "#"} Calendar
                      %li
                        %a{:href => "#"} Careers
                      %li
                        %a{:href => "#"} Contact
                      %li
                        %a{:href => "#"} NSi Core Values
      %main#sub
        %section#subTitle
          %section.content.container
            .row-fluid
              .span12
                .title
                  NSi is Once Again Cycling in the ADA Tour de Cure

        %section#breadcrumb
          %section.content.container
            .row-fluid
              .span12
                %ul
                  %li
                    %a{:href => '#'} Home
                  %li.divider /
                  %li
                    %a{:href => '#'} News
                  %li.divider /
                  %li
                    NSi is Once Again Cycling in the ADA Tour de Cure
        %section#subContent
          %section.content.container
            .row-fluid
              .span12
                .bodyText
                  %p
                    The NSi Cycling Team is once again riding for a cure in the American Diabetes Association's Tour de Cure on June 2nd in Reston, VA. The Tour de Cure is an annual ride held in 44 states that raises awareness and funds to help fight diabetes. Last year Team NSi raised $20K for the ADA, and this year we're setting the bar even higher with a goal of $30K!
                  %p
                    Team NSi is dedicated to riding and raising money in this inspirational event because we personally know some of the 26 million Americans affected by this disease (and you might too). By making a donation, you will be supporting the American Diabetes Association mission to prevent and cure diabetes and improve the lives of all people affected by diabetes.
                  %p
                    Will you help us change the future of diabetes? You can make a secure, 100% deductible, online donation to an individual rider or to the team as a whole by checking out our team page here:
                    %a{:href => '#'} NSi Cycling Team Page
                  %p
                    Thank you in advance for your generosity!
                .socialLinks
                  .text
                    Share
                  %a.youtube{:href => '#'}
                    %i.icon-social-youtube
                  %a.twitter{:href => '#'}
                    %i.icon-social-twitter
                  %a.linkedin{:href => '#'}
                    %i.icon-social-linkedin
                  %a.facebook{:href => '#'}
                    %i.icon-social-facebook
                  %a.rss{:href => '#'}
                    %i.icon-social-rss
                .fbContent
                  %fb:like.fb_edge_widget_with_comment.fb_iframe_widget{"fb-xfbml-state" => "rendered", :font => "", :href => "http%3A%2F%2Fwww.nsiautostore.com%2Fnsi-is-once-again-cycling-in-the-ada-tour-de-cure%2F", :send => "true", :show_faces => "true", :width => "450"}
                    %span{:style => "height: 29px; width: 450px;"}
                      %iframe#f2bef0d144.fb_ltr{:name => "f2dfb0e5b8", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?api_key=20320310172&locale=en_US&sdk=joey&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df7c4bdc3%26origin%3Dhttp%253A%252F%252Fwww.nsiautostore.com%252Ff3db91544c%26domain%3Dwww.nsiautostore.com%26relation%3Dparent.parent&href=http%253A%252F%252Fwww.nsiautostore.com%252Fnsi-is-once-again-cycling-in-the-ada-tour-de-cure%252F&node_type=link&width=450&layout=standard&colorscheme=light&show_faces=true&send=true&extended_social_context=false", :style => "border: none; overflow: hidden; height: 29px; width: 450px;", :title => "Like this content on Facebook."}

                .inner-content
                  #fb-root.fb_reset
                    %div{:style => "position: absolute; top: -10000px; height: 0px; width: 0px;"}
                      %div
                        %iframe{:allowtransparency => "true", :frameborder => "0", :name => "f386f53f5", :scrolling => "no", :src => "https://www.facebook.com/connect/ping?client_id=20320310172&response_type=token%2Csigned_request%2Ccode&display=none&domain=www.nsiautostore.com&origin=1&redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df2116e6b9%26origin%3Dhttp%253A%252F%252Fwww.nsiautostore.com%252Ff3db91544c%26domain%3Dwww.nsiautostore.com%26relation%3Dparent&sdk=joey", :style => "display: none;"}
                    %div{:style => "position: absolute; top: -10000px; height: 0px; width: 0px;"}
                      %div
                        %iframe#fb_xdm_frame_http{:allowtransparency => "true", "aria-hidden" => "true", :frameborder => "0", :name => "fb_xdm_frame_http", :scrolling => "no", :src => "http://static.ak.facebook.com/connect/xd_arbiter.php?version=24#channel=f3db91544c&origin=http%3A%2F%2Fwww.nsiautostore.com&channel_path=%2Fnsi-is-once-again-cycling-in-the-ada-tour-de-cure%2F%3Ffb_xd_fragment%23xd_sig%3Df1202a2f2c%26", :style => "border: none;", "tab-index" => "-1", :title => "Facebook Cross Domain Communication Frame"}
                        %iframe#fb_xdm_frame_https{:allowtransparency => "true", "aria-hidden" => "true", :frameborder => "0", :name => "fb_xdm_frame_https", :scrolling => "no", :src => "https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=24#channel=f3db91544c&origin=http%3A%2F%2Fwww.nsiautostore.com&channel_path=%2Fnsi-is-once-again-cycling-in-the-ada-tour-de-cure%2F%3Ffb_xd_fragment%23xd_sig%3Df1202a2f2c%26", :style => "border: none;", "tab-index" => "-1", :title => "Facebook Cross Domain Communication Frame"}
                  %script{:src => "http://connect.facebook.net/en_US/all.js#appId=20320310172&xfbml=1"}
                  %script{:language => "JavaScript"}
                    FB.Event.subscribe('edge.create', function(response) {
                    _gaq.push(['_trackEvent','SocialSharing','Facebook - like button',unescape(String(response).replace(/\+/g, " "))]);
                    });
                  :javascript
                    (function() {
                      var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
                      po.src = "https://apis.google.com/js/plusone.js";
                      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
                    })();

                  %p
                    #___plusone_0{:style => "text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 106px; height: 24px; background-position: initial initial; background-repeat: initial initial;"}
                      %iframe#I0_1368820684815{:allowtransparency => "true", "data-gapiattached" => "true", :frameborder => "0", :hspace => "0", :marginheight => "0", :marginwidth => "0", :name => "I0_1368820684815", :scrolling => "no", :src => "https://plusone.google.com/_/+1/fastbutton?bsv&annotation=bubble&hl=en-US&origin=http%3A%2F%2Fwww.nsiautostore.com&url=http%3A%2F%2Fwww.nsiautostore.com%2Fnsi-is-once-again-cycling-in-the-ada-tour-de-cure%2F&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.jsbpMIkmaG4.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTN1wK8feZ_fZHJy6OVA_9Wn8wisYw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&id=I0_1368820684815&parent=http%3A%2F%2Fwww.nsiautostore.com&rpctoken=27844938", :style => "position: static; top: 0px; width: 106px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;", :tabindex => "0", :title => "+1", :vspace => "0", :width => "100%"}


      %footer#footer
        %section.information
          %section.content.container
            .row-fluid
              .span3
                .logo
                  %a{:href => '#'}
                    %img{:src => 'img/nsi-logo-dark-header.png'}
                .socialLinks
                  %a.youtube{:href => '#'}
                    %i.icon-social-youtube
                  %a.twitter{:href => '#'}
                    %i.icon-social-twitter
                  %a.linkedin{:href => '#'}
                    %i.icon-social-linkedin
                  %a.facebook{:href => '#'}
                    %i.icon-social-facebook
                  %a.rss{:href => '#'}
                    %i.icon-social-rss
                %ul.links
                  %li
                    %a{:href => '#'} Site Map
                    %a{:href => '#'} Privacy
                    %a{:href => '#'} Terms Of Use
              .span9.align.right
                .span3.location.align.left
                  %h4 North America
                  %p
                    Notable Solutions, Inc.
                    %br
                    530 Gaither Road
                    %br
                    Suite 400
                    %br
                    Rockville, MD 20850
                    %br
                    United States
                    %br
                    +1 (240) 268-8100
                .span3.location.align.left
                  %h4 Europe, Middle East, Africa, Asia Pacific
                  %p
                    NSi Europe GmbH
                    %br
                    Schutzenstrasse 4
                    %br
                    35578 Wetzlar
                    %br
                    Germany
                    %br
                    Europe
                    %br
                    +49 6441 67138 0
                .span3.location.align.left
                  %h4 Latin America
                  %p
                    Avenida Queiroz Filho, 1700 - Vila 13
                    %br
                    Vila Lobos Office Park - Cep : 05319-000
                    %br
                    Jaguare - SP
                    %br
                    Brazil
                    %br
                    +55 11 9 4212-1659
                .contactButton
                  %a{:href => '#'}
                    %i.icon-comments-alt
                  %p Contact Us


        %section.copyright
          %section.content.container
            .row-fluid
              .span10
                %p Copyright &#169; 2009 - 2013 Notable Solutions, Inc. All Rights Reserved.
              .span2
                .languageSelect.pull-right
                  %ul
                    %li.dropdown.dropup.active{:language => "english"}
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        %p English
                        .lang.en
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => "#"}
                            .lang.en
                            English
                        %li
                          %a{:href => "#"}
                            .lang.fr
                            French
                        %li
                          %a{:href => "#"}
                            .lang.de
                            German
                        %li
                          %a{:href => "#"}
                            .lang.pt-br
                            Portugese
                        %li
                          %a{:href => "#"}
                            .lang.es
                            Spanish


    / :javascript
    /   document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    / <noscript><p class="noscript">Please enable javascript in order to experience this site.</p></div></noscript>
    / vendor js libs
    %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
    %script{:src => "js/vendor/jquery-1.9.1.min.js"}
    %script{:src => "js/vendor/jquery.easing.1.3.js"}
    %script{:src => "js/vendor/chosen.jquery.min.js", :type => "text/javascript"}
    %script{:src => "js/vendor/bootstrap.min.js", :type => "text/javascript"}
    / the app itself
    %script{:src => "js/app.js"}
    / create App() instance on page load complete
    :javascript
      $(window).load(function(){
        var nsiApp = new NSI({

        });
      });